@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  color: antiquewhite;
  background-color: #57a088;
background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
}

.love {
  color: rgb(121, 62, 62);
  font-weight: bold;
}

.profile-img {
  outline: black double 15px;
  border-radius: 80px;
  box-shadow: 10px 10px 5px 12px rgb(51, 51, 51);
}

.profile-icon {
  display: flex;
  justify-content: center;
}

